*.iml
.tags*
build/
conode/conode
conode/tmp
simulation/simulation
simulation/server_list
simulation/deter.toml
.idea
external/js/node_modules
external/js/coverage
external/js/.nyc_output
external/js/dist
*.DS_Store