h3 {
    padding: 1.5em 0 0.1em 0;
}

div#footer {
    height: 90px;
}

 .nice-scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 1px;
	background-color: #F5F5F5;
}

.nice-scroll::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.nice-scroll::-webkit-scrollbar-thumb {
	border-radius: 1px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(131, 131, 131);
}

* {
	box-sizing: border-box;
}