@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto/Roboto-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}

/* Roboto mono */

@font-face {
    font-family: "roboto-mono";
    src: url("../fonts/RobotoMono/RobotoMono-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "roboto-mono";
    src: url("../fonts/RobotoMono/RobotoMono-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "roboto-mono";
    src: url("../fonts/RobotoMono/RobotoMono-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "roboto-mono";
    src: url("../fonts/RobotoMono/RobotoMono-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "roboto-mono";
    src: url("../fonts/RobotoMono/RobotoMono-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "roboto-mono";
    src: url("../fonts/RobotoMono/RobotoMono-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "roboto-mono";
    src: url("../fonts/RobotoMono/RobotoMono-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "roboto-mono";
    src: url("../fonts/RobotoMono/RobotoMono-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "roboto-mono";
    src: url("../fonts/RobotoMono/RobotoMono-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "roboto-mono";
    src: url("../fonts/RobotoMono/RobotoMono-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}